In [2]:
import psycopg2

In [3]:
conn = psycopg2.connect('''host=localhost port=5432 dbname=test user=funka password=funka1''')

In [19]:
with conn.cursor() as cur:
    cur.execute('''
    select * from information_schema.tables where table_schema = 'public'
    ''')
    description = cur.description
    data = cur.fetchall()

In [20]:
description

(Column(name='table_catalog', type_code=19),
 Column(name='table_schema', type_code=19),
 Column(name='table_name', type_code=19),
 Column(name='table_type', type_code=1043),
 Column(name='self_referencing_column_name', type_code=19),
 Column(name='reference_generation', type_code=1043),
 Column(name='user_defined_type_catalog', type_code=19),
 Column(name='user_defined_type_schema', type_code=19),
 Column(name='user_defined_type_name', type_code=19),
 Column(name='is_insertable_into', type_code=1043),
 Column(name='is_typed', type_code=1043),
 Column(name='commit_action', type_code=1043))

In [21]:
data

[('test',
  'public',
  'test',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('test',
  'public',
  'categories',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('test',
  'public',
  'customers',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('test',
  'public',
  'products',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('test',
  'public',
  'orders',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('test',
  'public',
  'order_details',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('test',
  'public',
  'testproducts',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('test',
  'public',
  'bill',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('test',
  'public',
  'bill2',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('test',
  'public',
  'bill3',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('test',
  'public',
  'bill4',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None)]

In [29]:
columns = [c.name for c in description]

In [30]:
columns

['table_catalog',
 'table_schema',
 'table_name',
 'table_type',
 'self_referencing_column_name',
 'reference_generation',
 'user_defined_type_catalog',
 'user_defined_type_schema',
 'user_defined_type_name',
 'is_insertable_into',
 'is_typed',
 'commit_action']

# udělej namedtuple

In [32]:
from collections import namedtuple

In [33]:
Rows = namedtuple('Row', ' '.join(columns))

In [35]:
row = Rows(*data[0])

In [36]:
row

Row(table_catalog='test', table_schema='public', table_name='test', table_type='BASE TABLE', self_referencing_column_name=None, reference_generation=None, user_defined_type_catalog=None, user_defined_type_schema=None, user_defined_type_name=None, is_insertable_into='YES', is_typed='NO', commit_action=None)

In [45]:
rows = {}
for index, row in enumerate(data):
    rows[index+1] = Rows(*row)

In [47]:
rows[1]

Row(table_catalog='test', table_schema='public', table_name='test', table_type='BASE TABLE', self_referencing_column_name=None, reference_generation=None, user_defined_type_catalog=None, user_defined_type_schema=None, user_defined_type_name=None, is_insertable_into='YES', is_typed='NO', commit_action=None)

# udělej DataFrame

In [10]:
import pandas as pd

In [54]:
df = pd.DataFrame(rows.values())

In [55]:
df

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,test,public,test,BASE TABLE,None,None,None,None,None,YES,NO,None
1,test,public,categories,BASE TABLE,None,None,None,None,None,YES,NO,None
2,test,public,customers,BASE TABLE,None,None,None,None,None,YES,NO,None
3,test,public,products,BASE TABLE,None,None,None,None,None,YES,NO,None
4,test,public,orders,BASE TABLE,None,None,None,None,None,YES,NO,None
5,test,public,order_details,BASE TABLE,None,None,None,None,None,YES,NO,None
6,test,public,testproducts,BASE TABLE,None,None,None,None,None,YES,NO,None
7,test,public,bill,BASE TABLE,None,None,None,None,None,YES,NO,None
8,test,public,bill2,BASE TABLE,None,None,None,None,None,YES,NO,None
9,test,public,bill3,BASE TABLE,None,None,None,None,None,YES,NO,None
10,test,public,bill4,BASE TABLE,None,None,None,None,None,YES,NO,None

In [56]:
df.index = rows.keys()

In [57]:
df

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
1,test,public,test,BASE TABLE,None,None,None,None,None,YES,NO,None
2,test,public,categories,BASE TABLE,None,None,None,None,None,YES,NO,None
3,test,public,customers,BASE TABLE,None,None,None,None,None,YES,NO,None
4,test,public,products,BASE TABLE,None,None,None,None,None,YES,NO,None
5,test,public,orders,BASE TABLE,None,None,None,None,None,YES,NO,None
6,test,public,order_details,BASE TABLE,None,None,None,None,None,YES,NO,None
7,test,public,testproducts,BASE TABLE,None,None,None,None,None,YES,NO,None
8,test,public,bill,BASE TABLE,None,None,None,None,None,YES,NO,None
9,test,public,bill2,BASE TABLE,None,None,None,None,None,YES,NO,None
10,test,public,bill3,BASE TABLE,None,None,None,None,None,YES,NO,None
11,test,public,bill4,BASE TABLE,None,None,None,None,None,YES,NO,None

In [63]:
df = pd.DataFrame(rows.values(), index = rows.keys())
df

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
1,test,public,test,BASE TABLE,None,None,None,None,None,YES,NO,None
2,test,public,categories,BASE TABLE,None,None,None,None,None,YES,NO,None
3,test,public,customers,BASE TABLE,None,None,None,None,None,YES,NO,None
4,test,public,products,BASE TABLE,None,None,None,None,None,YES,NO,None
5,test,public,orders,BASE TABLE,None,None,None,None,None,YES,NO,None
6,test,public,order_details,BASE TABLE,None,None,None,None,None,YES,NO,None
7,test,public,testproducts,BASE TABLE,None,None,None,None,None,YES,NO,None
8,test,public,bill,BASE TABLE,None,None,None,None,None,YES,NO,None
9,test,public,bill2,BASE TABLE,None,None,None,None,None,YES,NO,None
10,test,public,bill3,BASE TABLE,None,None,None,None,None,YES,NO,None
11,test,public,bill4,BASE TABLE,None,None,None,None,None,YES,NO,None

In [67]:
df.index.name = 'row_number'
df

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
row_number,,,,,,,,,,,,
1,test,public,test,BASE TABLE,None,None,None,None,None,YES,NO,None
2,test,public,categories,BASE TABLE,None,None,None,None,None,YES,NO,None
3,test,public,customers,BASE TABLE,None,None,None,None,None,YES,NO,None
4,test,public,products,BASE TABLE,None,None,None,None,None,YES,NO,None
5,test,public,orders,BASE TABLE,None,None,None,None,None,YES,NO,None
6,test,public,order_details,BASE TABLE,None,None,None,None,None,YES,NO,None
7,test,public,testproducts,BASE TABLE,None,None,None,None,None,YES,NO,None
8,test,public,bill,BASE TABLE,None,None,None,None,None,YES,NO,None
9,test,public,bill2,BASE TABLE,None,None,None,None,None,YES,NO,None
10,test,public,bill3,BASE TABLE,None,None,None,None,None,YES,NO,None
11,test,public,bill4,BASE TABLE,None,None,None,None,None,YES,NO,None

In [68]:
df.index.name

'row_number'

In [7]:
import psycopg2.extras

cur = conn.cursor(cursor_factory = psycopg2.extras.NamedTupleCursor)
cur.execute('''SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema'
    ORDER BY schemaname, tablename;''')
res = cur.fetchall()
print(res[0].tablename)

isco_hlavni_trida

In [8]:
res

[Record(schemaname='isco', tablename='isco_hlavni_trida', tableowner='funka', tablespace=None, hasindexes=False, hasrules=False, hastriggers=False, rowsecurity=False),
 Record(schemaname='isco', tablename='isco_podklad', tableowner='funka', tablespace=None, hasindexes=False, hasrules=False, hastriggers=False, rowsecurity=False),
 Record(schemaname='isco', tablename='isco_skupina', tableowner='funka', tablespace=None, hasindexes=False, hasrules=False, hastriggers=False, rowsecurity=False),
 Record(schemaname='isco', tablename='isco_trida', tableowner='funka', tablespace=None, hasindexes=False, hasrules=False, hastriggers=False, rowsecurity=False),
 Record(schemaname='mustry', tablename='mustry3', tableowner='funka', tablespace=None, hasindexes=True, hasrules=False, hastriggers=False, rowsecurity=False),
 Record(schemaname='nace', tablename='nace_podklad', tableowner='funka', tablespace=None, hasindexes=False, hasrules=False, hastriggers=False, rowsecurity=False),
 Record(schemaname='nace', tablename='nace_sekce', tableowner='funka', tablespace=None, hasindexes=False, hasrules=False, hastriggers=False, rowsecurity=False),
 Record(schemaname='public', tablename='bill', tableowner='funka', tablespace=None, hasindexes=False, hasrules=False, hastriggers=False, rowsecurity=False),
 Record(schemaname='public', tablename='bill2', tableowner='funka', tablespace=None, hasindexes=False, hasrules=False, hastriggers=False, rowsecurity=False),
 Record(schemaname='public', tablename='bill3', tableowner='funka', tablespace=None, hasindexes=False, hasrules=False, hastriggers=False, rowsecurity=False),
 Record(schemaname='public', tablename='bill4', tableowner='funka', tablespace=None, hasindexes=False, hasrules=False, hastriggers=False, rowsecurity=False),
 Record(schemaname='public', tablename='categories', tableowner='funka', tablespace=None, hasindexes=True, hasrules=False, hastriggers=False, rowsecurity=False),
 Record(schemaname='public', tablename='customers', tableowner='funka', tablespace=None, hasindexes=True, hasrules=False, hastriggers=False, rowsecurity=False),
 Record(schemaname='public', tablename='order_details', tableowner='funka', tablespace=None, hasindexes=True, hasrules=False, hastriggers=False, rowsecurity=False),
 Record(schemaname='public', tablename='orders', tableowner='funka', tablespace=None, hasindexes=True, hasrules=False, hastriggers=False, rowsecurity=False),
 Record(schemaname='public', tablename='products', tableowner='funka', tablespace=None, hasindexes=True, hasrules=False, hastriggers=False, rowsecurity=False),
 Record(schemaname='public', tablename='test', tableowner='funka', tablespace=None, hasindexes=False, hasrules=False, hastriggers=False, rowsecurity=False),
 Record(schemaname='public', tablename='testproducts', tableowner='funka', tablespace=None, hasindexes=True, hasrules=False, hastriggers=False, rowsecurity=False),
 Record(schemaname='sqlw3s', tablename='Customers', tableowner='funka', tablespace=None, hasindexes=False, hasrules=False, hastriggers=False, rowsecurity=False)]

In [13]:
df = pd.DataFrame(res)
df

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,isco,isco_hlavni_trida,funka,None,False,False,False,False
1,isco,isco_podklad,funka,None,False,False,False,False
2,isco,isco_skupina,funka,None,False,False,False,False
3,isco,isco_trida,funka,None,False,False,False,False
4,mustry,mustry3,funka,None,True,False,False,False
5,nace,nace_podklad,funka,None,False,False,False,False
6,nace,nace_sekce,funka,None,False,False,False,False
7,public,bill,funka,None,False,False,False,False
8,public,bill2,funka,None,False,False,False,False
9,public,bill3,funka,None,False,False,False,False
10,public,bill4,funka,None,False,False,False,False
11,public,categories,funka,None,True,False,False,False
12,public,customers,funka,None,True,False,False,False
13,public,order_details,funka,None,True,False,False,False
14,public,orders,funka,None,True,False,False,False
15,public,products,funka,None,True,False,False,False
16,public,test,funka,None,False,False,False,False
17,public,testproducts,funka,None,True,False,False,False
18,sqlw3s,Customers,funka,None,False,False,False,False