In [3]:
import psycopg2

In [14]:
conn = psycopg2.connect('''host=localhost port=5432 dbname=test user=funka password=funka1''')

In [19]:
with conn.cursor() as cur:
    cur.execute('''
    select * from information_schema.tables where table_schema = 'public'
    ''')
    description = cur.description
    data = cur.fetchall()

In [20]:
description

(Column(name='table_catalog', type_code=19),
 Column(name='table_schema', type_code=19),
 Column(name='table_name', type_code=19),
 Column(name='table_type', type_code=1043),
 Column(name='self_referencing_column_name', type_code=19),
 Column(name='reference_generation', type_code=1043),
 Column(name='user_defined_type_catalog', type_code=19),
 Column(name='user_defined_type_schema', type_code=19),
 Column(name='user_defined_type_name', type_code=19),
 Column(name='is_insertable_into', type_code=1043),
 Column(name='is_typed', type_code=1043),
 Column(name='commit_action', type_code=1043))

In [21]:
data

[('test',
  'public',
  'test',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('test',
  'public',
  'categories',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('test',
  'public',
  'customers',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('test',
  'public',
  'products',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('test',
  'public',
  'orders',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('test',
  'public',
  'order_details',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('test',
  'public',
  'testproducts',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('test',
  'public',
  'bill',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('test',
  'public',
  'bill2',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('test',
  'public',
  'bill3',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None),
 ('test',
  'public',
  'bill4',
  'BASE TABLE',
  None,
  None,
  None,
  None,
  None,
  'YES',
  'NO',
  None)]

In [29]:
columns = [c.name for c in description]

In [30]:
columns

['table_catalog',
 'table_schema',
 'table_name',
 'table_type',
 'self_referencing_column_name',
 'reference_generation',
 'user_defined_type_catalog',
 'user_defined_type_schema',
 'user_defined_type_name',
 'is_insertable_into',
 'is_typed',
 'commit_action']

In [31]:
# udělej namedtuple

In [32]:
from collections import namedtuple

In [33]:
Rows = namedtuple('Row', ' '.join(columns))

In [35]:
row = Rows(*data[0])

In [36]:
row

Row(table_catalog='test', table_schema='public', table_name='test', table_type='BASE TABLE', self_referencing_column_name=None, reference_generation=None, user_defined_type_catalog=None, user_defined_type_schema=None, user_defined_type_name=None, is_insertable_into='YES', is_typed='NO', commit_action=None)

In [45]:
rows = {}
for index, row in enumerate(data):
    rows[index+1] = Rows(*row)

In [47]:
rows[1]

Row(table_catalog='test', table_schema='public', table_name='test', table_type='BASE TABLE', self_referencing_column_name=None, reference_generation=None, user_defined_type_catalog=None, user_defined_type_schema=None, user_defined_type_name=None, is_insertable_into='YES', is_typed='NO', commit_action=None)

In [ ]:
# udělej DataFrame

In [48]:
import pandas as pd

/var/folders/fb/xl0hnskx527bfqkv38l3sn7h0000gn/T/ipykernel_12439/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [54]:
df = pd.DataFrame(rows.values())

In [55]:
df

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,test,public,test,BASE TABLE,None,None,None,None,None,YES,NO,None
1,test,public,categories,BASE TABLE,None,None,None,None,None,YES,NO,None
2,test,public,customers,BASE TABLE,None,None,None,None,None,YES,NO,None
3,test,public,products,BASE TABLE,None,None,None,None,None,YES,NO,None
4,test,public,orders,BASE TABLE,None,None,None,None,None,YES,NO,None
5,test,public,order_details,BASE TABLE,None,None,None,None,None,YES,NO,None
6,test,public,testproducts,BASE TABLE,None,None,None,None,None,YES,NO,None
7,test,public,bill,BASE TABLE,None,None,None,None,None,YES,NO,None
8,test,public,bill2,BASE TABLE,None,None,None,None,None,YES,NO,None
9,test,public,bill3,BASE TABLE,None,None,None,None,None,YES,NO,None
10,test,public,bill4,BASE TABLE,None,None,None,None,None,YES,NO,None

In [56]:
df.index = rows.keys()

In [57]:
df

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
1,test,public,test,BASE TABLE,None,None,None,None,None,YES,NO,None
2,test,public,categories,BASE TABLE,None,None,None,None,None,YES,NO,None
3,test,public,customers,BASE TABLE,None,None,None,None,None,YES,NO,None
4,test,public,products,BASE TABLE,None,None,None,None,None,YES,NO,None
5,test,public,orders,BASE TABLE,None,None,None,None,None,YES,NO,None
6,test,public,order_details,BASE TABLE,None,None,None,None,None,YES,NO,None
7,test,public,testproducts,BASE TABLE,None,None,None,None,None,YES,NO,None
8,test,public,bill,BASE TABLE,None,None,None,None,None,YES,NO,None
9,test,public,bill2,BASE TABLE,None,None,None,None,None,YES,NO,None
10,test,public,bill3,BASE TABLE,None,None,None,None,None,YES,NO,None
11,test,public,bill4,BASE TABLE,None,None,None,None,None,YES,NO,None

In [63]:
df = pd.DataFrame(rows.values(), index = rows.keys())
df

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
1,test,public,test,BASE TABLE,None,None,None,None,None,YES,NO,None
2,test,public,categories,BASE TABLE,None,None,None,None,None,YES,NO,None
3,test,public,customers,BASE TABLE,None,None,None,None,None,YES,NO,None
4,test,public,products,BASE TABLE,None,None,None,None,None,YES,NO,None
5,test,public,orders,BASE TABLE,None,None,None,None,None,YES,NO,None
6,test,public,order_details,BASE TABLE,None,None,None,None,None,YES,NO,None
7,test,public,testproducts,BASE TABLE,None,None,None,None,None,YES,NO,None
8,test,public,bill,BASE TABLE,None,None,None,None,None,YES,NO,None
9,test,public,bill2,BASE TABLE,None,None,None,None,None,YES,NO,None
10,test,public,bill3,BASE TABLE,None,None,None,None,None,YES,NO,None
11,test,public,bill4,BASE TABLE,None,None,None,None,None,YES,NO,None

In [67]:
df.index.name = 'row_number'
df

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
row_number,,,,,,,,,,,,
1,test,public,test,BASE TABLE,None,None,None,None,None,YES,NO,None
2,test,public,categories,BASE TABLE,None,None,None,None,None,YES,NO,None
3,test,public,customers,BASE TABLE,None,None,None,None,None,YES,NO,None
4,test,public,products,BASE TABLE,None,None,None,None,None,YES,NO,None
5,test,public,orders,BASE TABLE,None,None,None,None,None,YES,NO,None
6,test,public,order_details,BASE TABLE,None,None,None,None,None,YES,NO,None
7,test,public,testproducts,BASE TABLE,None,None,None,None,None,YES,NO,None
8,test,public,bill,BASE TABLE,None,None,None,None,None,YES,NO,None
9,test,public,bill2,BASE TABLE,None,None,None,None,None,YES,NO,None
10,test,public,bill3,BASE TABLE,None,None,None,None,None,YES,NO,None
11,test,public,bill4,BASE TABLE,None,None,None,None,None,YES,NO,None

In [68]:
df.index.name

'row_number'